.hero {
    padding-top: 8rem;
    height: 100vh;
    /* background: linear-gradient(200deg, #fde1ff, #e1ffea22 60%); */
    /* background: linear-gradient(200deg, #7c6496, #e1ffea22 60%); */
    background: linear-gradient(100deg, #7c6496, #bf9fe1 60%, #7c6496);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 20rem;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    /* font-size: 26px; */
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    /* font-size: 100px; */
    font-weight: 700;
}

.hand-icon {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hand-icon img {
    width: 9rem;
}

.latest-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 30rem;
    height: 7rem;
    border-radius: 5rem;
    margin-top: 3rem;
    background: #ff4141;
    color: white;
    /* font-size: 22px; */
    font-weight: 500;
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}