.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 90vh;
}

.popular h1{
    color: #171717;
    /* font-size: 50px; */
    font-weight: 600;
}

.popular hr{
    width: 25rem;
    height: 0.6rem;
    border-radius: 2rem;
    background: #252525;
}

.popular-items {
    margin-top: 7rem;
    display: flex;
    gap: 3rem;
}